.info {
  width: 100%;
  max-width: 750px;
  text-align: center;
  margin: 30px auto;
}

.info__title {
  font-size: 22px;
  font-weight: bold;
  font-family: 'open-sans', 'arial', 'helvetica', sans-serif;
  text-transform: uppercase;
}

.info__decription {
  font-size: 16px;
  font-family: 'open-sans', 'arial', 'helvetica', sans-serif;
}
